<div class="container-fluid" id="floor">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 info">
                <p class='p1'>生活不止眼前的苟且&nbsp;&nbsp;还有诗和远方的田野</p>
                <p class='p1'>你赤手空拳来到人世间&nbsp;&nbsp;为找到那片海不顾一切</p>
                <p class='p1 text-right'>-&nbsp;矮大紧</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 img">
                <img class='img-thumbnail img-responsive' src="/images/case/weixin.jpg" alt="微信二维码">
            </div>
        </div>
    </div>
</div>