*{margin:0px;padding:0px;list-style: none;}
body{
	background: url(../images/bg.jpg)
}
#wrap{
	width:744px;
	height: 174px;
	overflow: hidden;
	margin:300px auto 0;
}
#wrap li{
	float:left;
	width:124px;
	height:174px;
	position: relative;
}
#wrap li img{
	position: absolute;
}
#wrap li .bottom{
	top: 179px;
}